* {
  margin: 0px; 
  padding: 0px; 
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.header {
  background-color: #383838; 
  /*max-height: 400px; 
  line-height: 425px;*/
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  /*text-align: center;*/
}

.header a {
  text-align: center;
  vertical-align: middle;
}

.header img {
  /*padding-top: 30px;*/
  max-height: 100px;
  width: auto; 
  /*vertical-align: middle;*/
  text-align: center;
  padding: 5%;
}

.header a {
  text-decoration: none;
}

.info-box {
  margin-top: 60px;
}

.info-box h3 {
  font-family: 'Rubik', sans-serif;
  color: grey;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.5em;
}

.download-button-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.download-button-container button {
  background-color:#6AB038;
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 300;
}

.download-button-container button a {
  text-decoration: none;
  color: white;
}

.download-button-container button:hover {
  background: #54892f;
}


#line-chart {
  max-width: 800px;
  display: inline;
}

.tooltip {
  position: absolute; 
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif; 
  background: lightsteelblue; 
  border: 0px; 
  border-radius: 8px; 
  pointer-events: none;
}

.bar-container {
  display: inline;
  max-width: 400px;
}

#bar-graph {
  max-width: 800px;
  display: inline;
}

#json-viewer {
  border: 1px solid black;
  text-align: center;
  font-size: .9em;
  padding: 10px;
  font-weight: 200;
  margin: 0 5%;
  /*line-height: 50px;*/
}

.json-stats {
  margin-right: 15px;
  display: inline;
  vertical-align: middle;
}

.benefits-container {
  justify-content: center;
  background-color:#383838;
  color: white;
}

.third {
  padding: 80px 40px;
}

.third img {
  text-align: center;
  height: 80px;
  width: 80px;
  margin: 10px auto;
}

.third h1 {
  margin: 20px 0 20px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.third h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: lightgrey;
  line-height: 28px;
  
}

.pitch-container {
  text-align: center;
  margin: 75px 0; 
}

.pitch-container h3 {
  text-align: center;
  margin: 30px 5% 20px 5%;
  font-size: 2em;
  line-height: 30px;
}

.pitch-container p {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0 5%;
  line-height: 40px;
}

.big-header {
  margin-top: 80px;
  font-size: 2.2em;
}

.line {
  width: 40%;
  margin: 40px auto;
}

#speech-header {
  color: rgb(41.2%, 41.2%, 41.2%);
  font-size: 1.8em;
  font-weight: bold;

}

#word-cloud {
  margin-left: -100px;
}


/***************************/
#charts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 0 auto; */
  text-align: center;
}

.chart {
  /* border: 15px solid lightgrey;*/
  /*border: 15px solid rgb(41.2%, 41.2%, 41.2%);*/
  height: 300px;
  margin: 0 auto 11% auto;
  flex-basis: 40%; 
  text-align: center;
  /*box-shadow: 4px 4px 2px 2px rgba(192, 192, 192, 0.4);*/
}

.chart img {
  height: 600px;
  width: auto;
}

.map-chart {
  height: 600px;
  margin: 0 auto 100px auto;
}

.map-chart img {
  height: 600px;
  width: auto;
}

.image-container{
  position:relative;
  overflow: hidden; 
  display: table
}
  
.image-container img {
  max-width: 100%; 
  height: auto;
  display: block; /* added this */
}

.image-container a {
  position:absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  z-index:2;
}

.image-container .image-overlay{
  opacity:0;
  position:absolute;
  color: #fff;
  background: rgba(56, 56, 56, 0.77);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  font-size:40px;
  line-height: 450px;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  z-index:1;
}

.image-container .image-overlay-long{
  line-height: 900px;
}

.image-container:hover .image-overlay{
  opacity:1;
}

/***************************/
.instructions-container {
  text-align: center;
  /*letter-spacing: 5px;*/
  background-color:#383838;
  height: 300px;
  color: white;

}

.instructions-container h3 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: .03px;
  padding-top: 130px;
}

.instructions-container a {
  color:grey;
}

.instructions-container a:hover {
  color: #6AB038;
}

.short-strip {
  height: 10px;
  width: 100%;
  margin-top: 300px;
  background-color: #D6D6D6;
}

#scatter-container {
  background-color: #EBEBEB;
  padding: 50px;
}

#bubbleForce {
  padding-bottom: 20px;
}

#footer {
  background-color: rgb(41.2%, 41.2%, 41.2%); 
  height: 200px; 
  line-height: 125px;
  box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 200px;
}

#footer h4 {
  padding-top: 40px;
  vertical-align: middle;
  color: white;
  font-weight: 200;
}

/////////////////////////

@media (min-width: 600px) {
   .pitch-container p {
     font-size: 1.5em;
     margin: 0 15%;
   }

   .header img {
      /*padding-top: 30px;*/
      max-height: 400px;
      width: auto; 
      /*vertical-align: middle;*/
      text-align: center;
      padding: 5%;
    }
  }
